<launch>
  <!-- Start the original Vzense camera driver -->
  <include file="$(find vzense_camera)/launch/vzense_camera.launch" />

  <!-- Flip RGB -->
  <node pkg="image_proc" type="image_flip" name="rgb_flip" output="screen">
    <param name="flip_horizontal" value="false"/>
    <param name="flip_vertical" value="true"/>
    <remap from="image" to="/Vzense/color/image_raw"/>
    <remap from="image_flipped" to="/Vzense/color/image_raw"/>
  </node>

  <!-- Flip Depth -->
  <node pkg="image_proc" type="image_flip" name="depth_flip" output="screen">
    <param name="flip_horizontal" value="false"/>
    <param name="flip_vertical" value="true"/>
    <remap from="image" to="/Vzense/depth/image_raw"/>
    <remap from="image_flipped" to="/Vzense/depth/image_raw"/>
  </node>
</launch>
